<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>

    <!-- Include modals -->
    <%- include('../modals.ejs') %>

    <div class="container">

        <!-- Header with title and user information -->
        <header class="header d-flex justify-content-between align-items-center py-3 mb-4 border-bottom">
            <h1 class="h3">Dashboard</h1>
            <span><%= session && session.user ? session.user.username : '' %></span>
        </header>
        
        <!-- Navigation bar -->
        <nav class="nav-bar mb-4 d-flex justify-content-between">
            <a href="/home" class="btn btn-primary">Home</a>
            <div class="justify-content-end">
            <% if (session && session.user) { %>
                <% if (session.user.role === 'admin') { %>
                    <a href="/admin/accounts" class="btn btn-primary me-2">Accounts</a>
                <% } %>
                <% if (session.user.role === 'admin' || session.user.role === 'author') { %>
                    <button type="button" class="btn btn-primary me-2" id="settingsBtn1">Settings</button>
                <% } %>
                <% if (session.user.role === 'user') { %>
                    <button type="button" class="btn btn-primary me-2" id="settingsBtn2">Settings</button>
                <% } %>
                <button type="button" class="btn btn-warning" id="logoutBtn">Log Out</button>
            <% } else { %>
                <button type="button" class="btn btn-warning" id="loginBtn">Log In</button>
            <% } %>
            </div>
        </nav>
        
        <section>
            <% if (userBlog != null) { %>
                <h2 class="mb-2"><%= userBlog.title %></h2>
                <h4 class="mb-2"><%= userBlog.subtitle %></h4>
                <p class="mb-4"><%= userBlog.display_name %></p>
            <% } %>
            
            <!-- Button to create a new draft -->
            <a href="/author/dashboard/draft/edit/new-draft" class="btn btn-success mb-4">Draft +</a>
            
            <!-- Section for displaying articles -->
            <section>
                <h3>Articles</h3>
                <table class="article-table table table-hover table-dark mb-5">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Published</th>
                            <th>Date Modified</th>
                            <th>Views</th>
                            <th>Likes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach(article => { %>
                            <tr>
                                <td><%= article.title %></td>
                                <td><%= new Date(article.created_at).toLocaleDateString() %></td>
                                <td><%= new Date(article.created_at).toLocaleDateString() %></td>
                                <td><%= new Date(article.updated_at).toLocaleDateString() %></td>
                                <td><%= article.views %></td>
                                <td><%= article.likes %></td>
                                <td class="dashboard-action-buttons">
                                    <button type="button" class="btn btn-secondary btn-sm me-2" id="edit-article-<%= article.article_id %>">Edit</button>
                                    <button type="button" class="btn btn-primary btn-sm me-2" id="share-<%= article.article_id %>">Share</button>
                                    <button type="button" class="btn btn-danger btn-sm" id="delete-article-<%= article.article_id %>">Delete</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
            
            <!-- Section for displaying drafts -->
            <section>
                <div class="container mt-5">
                    <h3 class="mb-3">Drafts</h3>
                    <table class="draft-table table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created</th>
                                <th>Date Modified</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% drafts.forEach(draft => { %>
                                <tr>
                                    <td><%= draft.title %></td>
                                    <td><%= new Date(draft.created_at).toLocaleDateString() %></td>
                                    <td><%= new Date(draft.updated_at).toLocaleDateString() %></td>
                                    <td class="dashboard-action-buttons">
                                        <button type="button" class="btn btn-secondary btn-sm me-2" id="edit-draft-<%= draft.draft_id %>">Edit</button>
                                        <button type="button" class="btn btn-success btn-sm me-2" id="publish-<%= draft.draft_id %>">Publish</button>
                                        <button type="button" class="btn btn-danger btn-sm" id="delete-draft-<%= draft.draft_id %>">Delete</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </section>

        </section>

        <!-- Footer section -->
        <footer class="footer"></footer>

    </div>

    <!-- Bootstrap JavaScript -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="/public/scripts.js"></script>
</body>
</html>